<!--OUR PRODUCTS-->
<div id="our-product">
    <div class="container">
        <h2>Our Products</h2>
    <p > We have beeen producing a quality paint and varnish products to our clients since 2010.</p>
    </div>
</div>
<!--END OF OUR PRODUCTS-->

<!--PROUDCT AND DESCRIPTION-->
<div id="productAndDesc" class="container">
    <div class="row">
        <div id="product-img" class="col-md-4">
            <img src="assets/images/Ployurethane-varnish.jpg" alt=" " >
        </div>
        <div id="product-desc" class="col-md-8">
            <span id="product-item-name">Top Polyurethane Varnish</span>
            <p id="product-item-desc">
                POLYURETHANE is a high quality for all wood surface, it is particularly
                designed for high grade furniture parquet floors where high gloss finish, 
                and water resistance is required. 
            </p>

        </div>

        <div id="product-img" class="col-md-4">
            <img src="assets/images/Varnish-Alkyd.jpg" alt="Alkyd varnish">
        </div>
        <div id="product-desc" class="col-md-8">
            <span id="product-item-name">Top Alkyd Varnish</span>
            <p id="product-item-desc">
                TOP CLEAR GLOSS ALKYD VARNISH is a superior high gloss finish for all wood 
                surfaces, it is particularly suitable for furniture where hard wearing and 
                resistance to wate and drinks is required.
            </p>

        </div>
        <div id="product-img" class="col-md-4">
            <img src="assets/images/Paint-silver.jpg" alt="Silver paint" >
        </div>
        <div id="product-desc" class="col-md-8">
            <span id="product-item-name">Top Silver Paint</span>
            <p id="product-item-desc">
                SILVER PAINT is drying by air and used for metal works and woood works. It to resist 
                high temperature. High bind and capactiy.Before applied, make sure the surface to be coated and 
                free from rust, grease and dirt.  
            </p>

        </div>
        <div id="product-img" class="col-md-4">
            <img src="assets/images/Golden-paint.jpg" alt="Golden paint" >
        </div>
        <div id="product-desc" class="col-md-8">
            <span id="product-item-name">Top Golden Paint</span>
            <p id="product-item-desc">
                GOLDEN PAINT is drying by air and used for metal works and woood works. It to resist 
                high temperature. High bind and capactiy. Before applied, make sure the surface to be coated and 
                free from rust, grease and dirt.  
            </p>

        </div>

    </div>

</div>
<!--END OF PRODUCT AND DESCRIPTION-->
