<div id="contactUs">
    <div class="container">
        <h2>Contact Us</h2>
    </div>
</div>

<div id="contact-options" class="container">
    <section >
        <i class="fas fa-map-marker-alt"></i>
        <span>Address</span><br><br>
        <p>
          Lomi Meda industry area, Addis Ababa Ethiopia
        </p>

    </section>
    <section >
        <i class="fa fa-phone"></i>
        <span>Phone</span><br><br>
        <p>
            (+251) 921399154<br>
            (+251) 912687856
        </p>

    </section>
    <section >
        <i class="fas fa-envelope"></i>

        <span>Email</span><br><br><br>
        <p>
            toppaintsfactory@info.com<br>
            heniatau@gmail.com


        </p>

    </section>
</div>

<!--MESSAGE FORM-->
<!-- <div id="message-form" class="container">
    <h4>Leave Your Message</h4>
    <form action="">
        <div class="form-group">
            <label for="full-name">Full Name:</label>
            <input type="text" class="form-control" placeholder="Enter full name" id="full-name">
        </div>

        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" class="form-control" placeholder="Enter email" id="email-address">
        </div>

        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea name="" id="message" class="form-control" cols="85" rows="10" placeholder="Write your message here.."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->
<!--END OF MESSAGE FORM-->
