<!--ABOUT US AND CONTACT US-->
<div id="aboutUsAndContactus">
    <div class="container">
        <h2>About Us</h2>
    <p >Top is the most popular paint and varnish factory in Ethiopia. We have been delivering different paint and 
        varnish products to our clients for different metal and wood works. Our common paint and varnish products are Top Silver
        Paint, Top Golden Paint, Top Polyurethane Varnish and Top Alkyd Varnish. </p>
    <a href="contacts"><span>Contact Us</span></a>
    </div>
</div>
<!--END OF ABOUT US AND CONTACT US-->
<div class="container"  >
    <div class="row">
        <section class="col-md-6" style="margin-top: 150px;">
            <h3>Why Top Paint and Varnish?</h3><br>
            <ul style="list-style:square;">
                <li>We Produce a high quality paints and varnishs.</li><br>
                <li>Our products are highly affordable.</li><br>
                <li>Our paints able resist high temprature.</li><br>
                <li>Our varnishs have high capacity to resist water.</li>
                
            </ul>

        </section>
        <section class="col-md-6">
            <img src="assets/images/brush-paint.jpg"  alt="brush-paint" width="100%">

        </section>

    </div>
</div>
