<!--CAROUSEL--->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="assets/images/final web.jpg" alt="slide-amharic-version">
    </div>
    <div class="carousel-item">
      <img   src="assets/images/english.jpg" alt="slide-english-version">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span  class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span  class="carousel-control-next-icon"></span>
  </a>
</div>
<!--END OF CAROUSEL-->

<!--WHAT WE OFFER-->
<h3 class="text-center">What We Offer</h3>
<div class="container" id="offer-tiles">
  <div class="row">
    <section class="col-md-4 col-xs-12">
        <a href="products">
         <div ><img src="assets/images/polyurethane-image.jpg" alt="Ployurethane-varnish"></div>
          <span>VARNISHS</span>
       </a>
    </section>

    <section class="col-md-4 col-xs-12">
      <a href="products">
      <div> <img src="assets/images/silver-paint-image.jpg" alt="Silver Paint"></div>
        <span>PAINTS</span>
     </a>
    </section>

    <section id="deliver-tile" class="col-md-4 col-xs-12">
        <a href="services">
          <div><img src="assets/images/deliver-car-image.jpg" alt="Delivery image"></div>
          <span>FAST DELIVERY</span>
       </a>
    </section>
  </div>

</div>
<!---END OF WEHA WE OFFERE-->

<!--ABOUTUS CONTENT AND IMAGE-->
<div id="about-us-container" class="container" >
  <div class="row">
    <div id="text-about-us" class="col-md-5">
      <h3 class="text-center">About Us</h3>
      <p>Top is the most popular paint and varnish factory in Ethiopia. We have been delivering different paint and
        varnish products to our clients for different metal and wood works. Our common paint and varnish products are Top Silver
        Paint, Top Golden Paint, Top Polyurethane Varnish and Top Alkyd Varnish.
          <a href="about"><span>Read More</span></a>
      </p>
    </div>

   <div id="photo-brush-paint" class="col-md-7">
      <img src="assets/images/brush-paint.jpg"  alt="brush-paint">
    </div>

  </div>
</div>
<!--END OF ABOUTUS CONTENT AND IMAGE-->


<div id="sample-work" class="container">
  <h3 class="text-center">Sample Our finished work</h3>
  <div class="row">
    <section class="col-md-4">
      <span>Beautiful Painted Wall</span>

      <img src="assets/images/beautiful-wall.jpg"  alt="brush-paint" >
    </section>

    <section class="col-md-4">
      <span>Varnished Floor and Chair</span>
      <img src="assets/images/beautiful-floor.jpg"  alt="brush-paint" >
    </section>

    <section class="col-md-4">
      <span>Varnished Door</span>
      <img src="assets/images/varnished-door.jpg"  alt="brush-paint" >
    </section>

  </div>

</div>
