<!--VERY TOP HEADER-->
<div id="top-header" class="d-none d-md-block">
    <div class="container" >
      <span id ="scocial-media-icon" class="float-right" >
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fab fa-telegram-plane"></i>
            </a>
            <a href="#" >
                <i class="fab fa-youtube"></i>

            </a>
        </span>

        <span id="email" class="float-right">
            <a href="#" >
                <i class="fas fa-envelope"></i>
                top-paints-factory@info.com |
            </a>
         </span>

        <span id="phone" class="float-right">
            <a href="tel:+251921399154">
                <i class="fa fa-phone"></i>
                 +251921399154 |
            </a>

        </span>


    </div>
</div>
<!-- END OF TOP-HEADER-->

<!--HEADER-->
<header>
    <nav  id="header-nav" class="navbar navbar-expand-md">
        <div class="container">
            <div class="navbar-header">
                <a routerLink="home" class="pull-left">
                    <div id="logo-img"></div>
                </a>
                <div class="navbar-brand">
                    <a routerLink="home">
                        <h1>Top Paints PLC</h1>
                    </a>
                    <div id="factory">Factory</div>
                </div><!--END navbar-brand-->


            </div><!--END navbar-header-->
            <!--TOGGLE BUTTON-->
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


			 <!--Navigation list-->
             <div id="navbarContent" class="collapse navbar-collapse" >
                <ul id="nav-list" class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="home">
                            <span>HOME</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="about">
                            <span>ABOUT</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="products">
                            <span>PRODUCTS</span>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" routerLink="services">
                            <span>SERVICES</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="contacts">
                            <span>CONTACTS</span>
                        </a>
                    </li>
                    </ul>
            </div>

        </div><!--End Container-->

    </nav><!--End of nav-->
</header>
<!--END OF HEADER-->

<!--Main content display here-->
<router-outlet> </router-outlet>

<!--FOOTER-->
<footer >
    <div class="container">
        <div class="row">
             <!--Contact us-->
             <section  id="contact-us" class="col-md-4">
                <span class="title text-center">Get In Touch</span><br>
                <i class="fas fa-map-marker-alt"></i>&nbsp;
                Lomi Meda industry area, Addis Ababa Ethiopia<br>
                <i class="fa fa-phone"> </i>&nbsp;
                (+251) 921399154<br>
                <i class="fa fa-phone"></i>&nbsp;
                (+251) 912687856<br>
                <i class="fas fa-envelope"></i>&nbsp;
                top-paints-factory@info.com

                <hr class="d-md-none">
           </section>

            <!--Quick links-->
            <section id="quick-links" class="col-md-4">
                <span class="title">Quick Links</span><br>
                <a routerLink="home">Home</a><br>
                <a routerLink="about">About Us</a><br>
                <a routerLink="products">Products</a><br>
                <a routerLink="services">Services</a><br>
                <hr class="d-md-none">
            </section>


           <!--Follow us-->
             <section  id="follow-us" class="col-md-4">

                <span class="title ">Follow Us</span><br>

                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-telegram-plane"></i>
                </a>
                <a href="#" >
                    <i class="fab fa-youtube"></i>

                </a>
            </section>

        </div><!--End of row-->

        <div class=" copyright text-center">
            <hr>
            &copy;Copyright 2021 - Top Paints Plc - All Rights Reserved.
        </div>
    </div><!-- End of footer container-->
</footer>
<!--END FOOTER-->


