<!--OUR SERVICES-->
<div id="our-service">
    <div class="container">
        <h2>Our Services</h2>
    <p > We fastly deliver our paint and varnish products to the clients.</p>
    </div>
</div>
<!--END OF OUR SERVICES-->

<!--SERVICEDESC AND IMAGE-->
<div id="serviceDescAndImage" class="container">
    <div class="row">
        <section id="serviceDesc" class="col-md-6" >
            <h3>Product Delivery Service</h3>
            <p >We offer a fast delivery service to our clients in Addis Abeba and around the city. </p>
        </section>
        <section id="deliveryImage" class="col-md-6">
            <img src="assets/images/deliverimage.png"  alt="deliverImage" >

        </section>

    </div>
</div>
<!--END OF SERVICEDESC AND IMAGE-->
